<div class="container">
	<header id="header">
		<nav id="nav">
			<a href="javascript:void(0)" id="btn_bar"></a>
			<ul>
				<li ng-repeat="c in categories"><a href="" ui-sref="root.section({category: c.id})">{{ c.name }}</a></li>
			</ul>
		</nav>
	</header>

	<div id="main">
		<div class="scroll-holder" nn-custom-scrollbar kostyl1>
			<ul class="games-list" data-bind="foreach:filteredGames">
				<li ng-repeat="game in games">
					<a href="#" data-bind="click: launch">
						<img src="images/img-game-1.jpg" alt="" width="191" height="191">
						<!--ko if:isNew-->
						<span class="new">New</span>
						<!--/ko-->
						<span data-bind="text:title"></span>
						<dl class="info">
							<dt>JackPot:</dt>
							<dd>$134 500.43</dd>
						</dl>
					</a>
				</li>
			</ul>
		</div>
		<ul class="tools">
			<li><a href="#" class="back-to-top">Up</a></li>
			<li><a href="#" class="full-screen">Full Screen</a></li>
		</ul>
	</div>
</div>
